:root { 

    // -- Addons --

    // BetterAvatar Popout

    --popout-status-icon: none; // Set it to "block" if u want to have the status icon in big popouts
    --popout-status-mask: none; // Set it to "url(#svg-mask-avatar-status-round-80)" if u want to enable the avatar mask in big popouts
    --avatar-radius: 50%; // Change the roundness of avatar in big popouts, u need to disable the mask to use this

    // BetterSpotify --> Delete all until "Others settings" if u don't want it
    .powercord-spotify .spotify-seek-bar-progress { background-color: var(--spotify-color) !important;}
    .powercord-spotify .spotify-seek-bar {
        position: absolute;
        bottom: 0px;
        width: 240px;
        height: 5px;
        -webkit-mask-image: linear-gradient(0.75turn, #000, #0000);
        mask-image: linear-gradient(0.75turn, #000, #0000);
    }
    .powercord-spotify.hover .spotify-seek-bar { height: 63px; }
    .powercord-spotify > .container-3baos1 > .avatarWrapper-2yR4wp, .powercord-spotify > .container-3baos1 > .nameTag-3uD-yy, .spotify-buttons, .spotify-seek-duration { z-index: 1; }
    .powercord-spotify .flex-1xMQg5{ display: none;}

    // User settings spacing
    --user-buttons-spacing: 10px;

    // Circles next to role names
    --role-circle: 8px; // Set it to "0px" if u don't want circles

    // Tooltips (Example : https://i.ibb.co/hDSQtqw/Capture.png)
    --tooltips: block; // Set it to "none" if u don't want it

    // Separators
    --separators: none; // Set it to "block" if u want it

    // Discord logo
    --discord-logo: none; // Set it to "block" if u want it

} // thx snapperito and Harley for the help :3