    //Hey-hey! You can find avatar popout, emoji color and spotify settings in "custom.scss" file (you can find spotify color and other color settings below). If you need help you can contact me (Да#4103) or author of original theme (Nyria#3863).
    
@use "custom.scss";
@use "main.css";
@import "https://discord-custom-covers.github.io/usrbg/dist/usrbg.css";
    
.theme-dark {
    --background-tertiary: #3e2334;
    --background-secondary: #3e2334;
    --background-secondary-alt: #3e2334;
    --background-primary: #3e2334;
    --background-modifier-hover:rgba(0,0,0,.18);
    --background-modifier-active:rgba(0,0,0,.23);
    --background-modifier-selected:rgba(0,0,0,.27);
    --background-accent: #ff12ac;
    --background-floating: #3e2334;
    --deprecated-quickswitcher-input-background: #1f0f19;
    --header-primary: #fff;
    --header-secondary: #eee;
    --text-normal: #e9e9e9;
    --text-muted: #808080;
    --settings-buttons-text: #fff;
    --channeltextarea-background: #2e1927;
    --deprecated-card-bg: #20131c;
    --scrollbar-auto-thumb: #21121c;
    --user-background: #3e2334;
    --settings-bg:rgba(21,21,21,.4);
    --settings-x-button:#dcddde;
    
}
    
.theme-light {
    --background-tertiary: #eedde8;
    --background-secondary: #eedde8;
    --background-secondary-alt: #eedde8;
    --background-primary: #eedde8;
    --background-modifier-hover:rgba(0,0,0,.05);
    --background-modifier-active:rgba(0,0,0,.1);
    --background-modifier-selected:rgba(0,0,0,.07);
    --background-floating: #eedde8;
    --background-accent: #ff12ac;
    
    //color of ctrl+k
    --deprecated-quickswitcher-input-background: #fff;
    
    //color of scrollbar
    --scrollbar-auto-thumb: #fff;
    
    --header-primary: #000;
    --header-secondary: #1f1d1e;
    --text-normal: #2e2b2b;
    --text-muted:#808080;
    --settings-buttons-text: #fff;
    --user-background: #eedde8;
    --channeltextarea-background: #fff;
    --settings-bg:rgba(235,18,255,.03);
    --settings-x-button: #72767d;
}

:root{
    
    --shadow-color-brighter:rgba(0,0,0,.05);
    --shadow-color-bright:rgba(0,0,0,.1);
    --shadow-color-dark:rgba(0,0,0,.15);
    --transparent-accent:rgba(255,18,172,.08);
    --text-link: #ff12ac;
    --spotify-color: #ff12ac;
    --user-buttons-color: #ff12ac;
    --chat-buttons: #ff12ac;
    --server-names-and-etc: none;
    
    --elevation-low: none;
    
    --flex-black:#000;
    --flex-white:#fff;

    //color of some elements, which I can't change with #color, you need to change them manually, I recommend to use photoshop color picker and ctrl+U to find a match colors for your color scheme
    
    --emoji-hue: 270deg;
    --emoji-saturation: 1.5;
    
    --locker-hue: 187deg;
    --locker-saturation: 2.5;
    --locker-brightness: 1;
    
    --icon-hue: 195deg;
    --icon-saturation: 4;
    --icon-brightness: 1.11;
    
    //playing activity, shadow px parameters is for shadow offset from left to right, offset from up to down  and blur, same thing with all other shadow parameters
    --playactbg: #e354b1;
    --playactshadow: 0px 4px 0px #9b467d;
    
    //spotify activity
    --spotifyactbg: #cc3b92;
    --spotifyactshadow: 0px 4px 0px #92115e;
    
    //streaming activity
    --streamactbg: #723dcc;
    --streamactshadow: 0px 4px 0px #50367d;
    
    //xbox activity
    --xboxactbg: #107C10;
    --xboxactshadow: 0px 4px 0px #095509;

    --scrollbar-auto-track: #none;
    --scrollbar-thin-thumb: #none;
    --background-modifier-accent: none;
    --elevation-low: none;
    
}
    
    //Happy new year @everyone!
    
    //oh I forgot to mention that it still need improvements cuz idk css and I'm coding so dirty that I forgot to put brackets sometimes, so if you have any ideas how to improve please contact me (Да#4103), goodbye!