	//Hey-hey! You can find avatar popout, emoji color and spotify settings in "custom.scss" file (you can find spotify color and other color settings below). If you need any help you can contact me (Да#4103).

@use "custom.scss";
@use "main.css";
@import "https://discord-custom-covers.github.io/usrbg/dist/usrbg.css";

.theme-dark {
    --background-tertiary: #3e2334;
    --background-secondary: #3e2334;
    --background-secondary-alt: #3e2334;
    --background-primary: #3e2334;
    --background-modifier-accent: none;
    --background-modifier-hover: #301c29;
    --background-modifier-active: #2e1a27;
    --background-modifier-selected: #2e1927;
    --background-accent: #d36fb0;
    --header-primary: #fff;
    --header-secondary: #eee;
    --text-normal: #e9e9e9;
    --settings-buttons-text: #fff;
    --channeltextarea-background: #2e1927;
    --deprecated-card-bg: #20131c;
    --background-floating: #3e2334;
    --deprecated-quickswitcher-input-background: #1f0f19;
    --scrollbar-auto-thumb: #21121c;
    --scrollbar-auto-track: #none;
    --scrollbar-thin-thumb: #none;
    --elevation-low: none;
    --smallpopoutcolor1: #fff;
    --smallpopoutcolor2: #3e2334;
    --spotify-color: #ff12ac;
    --user-buttons-color: #ff12ac;
    --chat-buttons: #ff12ac;
    --text-link: #ff12ac;
    --CircleIconButton: #ff12ac;
    --DiscordDMButtonBG: #3e2334;
    --DiscordDMButtonActive: #fff;
    --elevation-low: none;
    --CircleIconButtonBG: #3e2334;
}

.theme-light {
    --background-tertiary: #eedde8;
    --background-secondary: #eedde8;
    --background-secondary-alt: #eedde8;
    --background-primary: #eedde8;
    --background-modifier-accent: none;
    --background-floating: #eedde8;

    //color of ctrl+k
    --deprecated-quickswitcher-input-background: #1f0f19;

    //color of scrollbar
    --scrollbar-auto-thumb: #ff9cdd;

    //background of scrollbar
    --scrollbar-auto-track: none;

    //idk what is this please contact me if you know what is this thing does
    --scrollbar-thin-thumb: none;

    --elevation-low: none;
    --header-primary: #000;
    --header-secondary: #1f1d1e;
    --text-normal: #2e2b2b;
    --settings-buttons-text: #fff;

    //I found two variables in "main.css" file, so I added two of them idk what the first does please contact me (this var does nothing cause I set "border" to none, just remember that)
    --smallpopoutcolor1: #fff;
    --smallpopoutcolor2: #d1b8c8;

    --user-background: #d1b8c8;
    --spotify-color: #ff12ac;
    --user-buttons-color: #ff12ac;
    --chat-buttons: #ff12ac;
    --channeltextarea-background: #fff;
    --text-link: #ff12ac;
    --CircleIconButton: #ff12ac;
    --DiscordDMButtonBG: #eedde8;
    --DiscordDMButtonActive: #fff;
    --CircleIconButtonBG: #eedde8;
}

:root{

    //I don't really understand what this thing does but make sure it's dark enough.
    --SmallPopoutColorBG: #281521;

    //playing activity, shadow px parameters is for shadow offset from left to right, offset from up to down  and blur, same thing with all other shadow parameters
    --playactbg: #e354b1;
    --playactshadow: 0px 4px 0px #9b467d;

    //spotify activity
    --spotifyactbg: #cc3b92;
    --spotifyactshadow: 0px 4px 0px #92115e;

    //streaming activity
    --streamactbg: #723dcc;
    --streamactshadow: 0px 4px 0px #50367d;
    
    //xbox activity
    --xboxactbg: #107C10;
    --streamactshadow: 0px 4px 0px #095509;

}

    //Happy new year @everyone!

    //oh I forgot to mention that it still need improvements cuz idk css and I'm coding so dirty that I forgot to put brackets sometimes, so if you have any ideas how to improve please contact me (Да#4103), goodbye!