/*powercord stuff*/
.powercord-account {top:5px !Important; margin-bottom:25px !important;}
.powercord-toast[data-toast-type=success] .icon{color:var(--chat-buttons)!important}
.powercord-toast[data-toast-type=info] .icon{color:#12ff6d!important}
.powercord-toast .header{background-color:var(--background-primary)!important}
.powercord-toast{background-color:var(--background-primary)!important; border:0px!important}
.powercord-toast .contents .inner{border:1px solid var(--chat-buttons)!important; background-color:var(--background-primary)!important; font-size:16px!important; margin:0 0 4px!important;padding:15px 9px!important}
.button-38aScr.lookOutlined-3sRXeN.colorGrey-2DXtkV.sizeSmall-2cSMqn.grow-q77ONN{border:0px!important}
.lookGhost-2Fn_0-.colorGreen-29iAKY{color:var(--chat-buttons)!important;background-color:var(--transparent-accent)!important}
.lookOutlined-3sRXeN.colorGreen-29iAKY{color:var(--chat-buttons)!important;border-color:var(--chat-buttons)!important}
.lookGhost-2Fn_0-.colorBrand-3pXr91{color:var(--chat-buttons)!important;background-color:var(--transparent-accent)!important}
.divider-3573oO.dividerDefault-3rvLe-{display:none!important}
.powercord-product-details .metadata .version span + div{color:var(--chat-buttons)!important;margin-left:10px!important}
[d="M20.997,9.497v-5.29c0-0.45-0.54-0.67-0.85-0.35l-1.78,1.78c-1.81-1.81-4.39-2.85-7.21-2.6c-4.19,0.38-7.64,3.75-8.1,7.94 c-0.6,5.42,3.63,10.02,8.94,10.02c4.59,0,8.38-3.44,8.93-7.88c0.07-0.6-0.4-1.12-1-1.12c-0.5,0-0.92,0.37-0.98,0.86 c-0.43,3.49-3.44,6.19-7.05,6.14c-3.71-0.05-6.84-3.18-6.9-6.9c-0.06-3.9,3.11-7.1,7-7.1c1.93,0,3.68,0.79,4.95,2.05l-2.09,2.09c-0.32,0.32-0.1,0.86,0.35,0.86h5.29C20.777,9.997,20.997,9.777,20.997,9.497z"],[d="M10.997,8.747v3.68c0,0.35,0.19,0.68,0.49,0.86l3.12,1.85c0.36,0.21,0.82,0.09,1.03-0.26c0.21-0.36,0.1-0.82-0.26-1.03 l-2.87-1.71v-3.4c-0.01-0.4-0.35-0.74-0.76-0.74S10.997,8.337,10.997,8.747z"]{fill:var(--chat-buttons)!important}
/*pi̪̩̝͔̻͍v̶͚͖͉͕o̡*/
/*.powercord.maximized{animation: filter-animation 5s infinite}
@keyframes filter-animation {0%{filter: saturate(1) hue-rotate(0deg) blur(0px) contrast(1);}25%{filter: saturate(100000000000000000000000) hue-rotate(90deg) blur(1px) contrast(1.5);}50%{filter: saturate(100000000000000) hue-rotate(180deg) blur(0px) contrast(2);}75%{filter: saturate(100000000000000000000000000000000000000000000000000000) hue-rotate(270deg) blur(1px) contrast(4);}100%{filter: saturate(1) hue-rotate(360deg) blur(0px) contrast(1);}}
/*tooltip color*/
.tooltip-3oByQd,
.tooltip-1_vJJI,
.tooltipBlack-PPG47z,
.tooltipGrey-1hnvTt {background-color: var(--background-floating) !important; color: var(--header-primary) !important;}

/*Server Boost Status background*/
.item-PXvHYJ[data-item-id=GUILD_PREMIUM]{background-color:var(--shadow-color-brighter)!important}

/*removes help button*/
.iconWrapper-2OrFZ1.clickable-3rdHwn[role="button"][aria-label="Help"]{display:none}

/*removes separators*/
.separator-XqIyoz{display:none}
.divider-3FBTu8{display:none}

/*I forgot what this thing does*/
.uploadModal-2ifh8j{background-color:var(--background-tertiary)!important}
.footer-3mqk7D{box-shadow:0 0px 0!important}

/*disables "select friends" menu on "Friends" tab*/
.inviteToolbar-3F-l2g{display:none}

/*@name and other icons color*/
.base-1x0h_U{color:var(--header-secondary)!important}
.icon-22AiRD{color:var(--header-secondary)!important}

/*эта шлюха не хочет меня*/
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {background-color:var(--settings-bg)!important}

.public-DraftEditorPlaceholder-inner{font-size:16px!important;font-weight:400!important;color:var(--header-secondary)!important;}
.icon-3cZ1F_{color:var(--header-secondary)!important}

/*drop menu button colors*/
.colorBrand-ROmMP1{color:var(--chat-buttons)!important}

/*removes all MATCHING menu*/
.autocomplete-1vrmpx.autocomplete-3l_oCd{display:block}

/*Small Popout*/
.headerTag-2pZJzA,
.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881{color:var(--header-primary)!important}
.customStatus-1bh2V9{color:var(--header-primary)!important;font-size:16px!important}
.bodyTitle-Y0qMQz{display:none!important}
/*Big Popout*/
.customStatusText-39gdCI,
.activityHeader-1PExlk,
.username-3gJmXY,
.discriminator-xUhQkU{color:var(--header-primary)!important}
.headerTextNormal-2mGWX3.headerText-1HLrL7.flex-1O1GKY.marginBottom8-AtZOdT.base-1x0h_U.size12-3cLvbJ{color:var(--flex-white)!important}
.connectedAccounts-repVzS{margin-top: -61px!important}
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover{border-bottom-color:var(--shadow-color-bright)!important}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active{border-bottom-color:var(--chat-buttons)!important}

/*removes "pretty much" discord nitro stuff*/
[href="/store"],.buttons-3JBrkn > .button-38aScr,.wrapper-3nSjSv,.giftAction-yhDLaW,.premiumPromo-fVlLu-, .guildIconContainer-2FW_iA, .premiumIcon-1rDbWQ,#guild-header-popout-premium-subscribe,#guild-header-popout .separator-2I32lJ,.emojiSection-3Fb9ix .shinyButton-3uFlM-,.uploadDropModal-2kTwbc .premiumPromo-3oM7cT,[aria-controls="Discord Nitro-tab"],[aria-controls="Nitro Server Boost-tab"],[aria-controls="Library Inventory-tab"],#user-settings-cog-Discord_Nitro,#user-settings-cog-Nitro_Server_Boost,#user-settings-cog-Library_Inventory,[aria-controls="Connections-tab"] + .separator-gCa7yv,[aria-controls="Connections-tab"] + .separator-gCa7yv + .header-2RyJ0Y{display:none!important;}#guild-header-popout .separator-2I32lJ ~ .separator-2I32lJ{display:block!important}

/*settings buttons text and color*/
.item-PXvHYJ{color:var(--chat-buttons) !important}
.item-PXvHYJ.selected-3s45Ha.themed-OHr7kt{color:var(--chat-buttons) !important}
.item-PXvHYJ.themed-OHr7kt{color: var(--header-secondary) !important}
.header-1TOWci{background:var(--background-floating) !important}
.lookFilled-1Gx00P.colorBrand-3pXr91{background-color: var(--chat-buttons) !important}
.userSettingsSecurity-3IYeMF .isEnabled-24g9qA{color: var(--chat-buttons) !important}
.container-3auIfb,.lockIcon-2Hj8Tq{filter:hue-rotate(var(--locker-hue)) saturate(var(--locker-saturation)) brightness(var(--locker-brightness)) !important}
.defaultValue-3gC7yw .markValue-2DwdXI{color:var(--chat-buttons)!important}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {color: var(--chat-buttons) !important; border-color: var(--chat-buttons) !important}
.barFill-23-gu-{background:var(--chat-buttons) !important}
.container-3PXSwK{background:var(--chat-buttons) !important}
.notches-1sAcEM.gray-3_LNYR{display:none !Important}
.progress-1IcQ3A {background-color:var(--background-floating) !important}
.radioIconForeground-XwlXQN{color:var(--chat-buttons) !important}
.bar-2Qqk5Z{background:var(--flex-white) !important}
.userSettingsVoice-iwdUC,.previewOverlay-2O7_KC{background-color:var(--background-floating) !important; border-color:var(--background-floating) !Important; border-radius: 0px !important}
.formNotice-2_hHWR.marginBottom20-32qID7.cardPrimary-1Hv-to.card-3Qj_Yx{background: var(--background-floating) !important}
.checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.box-mmYMsp.checked-3_4uQ9{border-color: var(--chat-buttons) !important; background-color: var(--chat-buttons) !important}
.cardPrimary-1Hv-to{background:var(--background-floating) !Important}
.theme-light .flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.activeGame-14JI7o.notDetected-33MY4s{background-color: var(--shadow-color-bright) !Important}
.theme-dark .flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.activeGame-14JI7o.notDetected-33MY4s{background-color: var(--dark-shadowjjfw) !Important}
.lastPlayed-3bQ7Bo{display:none !important}
.overlayStatusText-L2IACa,.nowPlayingAdd-1Kdmh_ {color:var(--header-primary) !important}
.wrapper-3jrx9n{border: 0px !Important}
.selected-mKYnfr.option-n0icdO{background-color: var(--chat-buttons) !Important; border-color: var(--chat-buttons) !important}
.improved-1NJK-y{color:var(--chat-buttons)!important}
.content-s2SEQO a{color:var(--chat-buttons)!important}
.progress-YsDrV-{color:var(--chat-buttons)!important}
.foreground-26ym5y {fill:var(--chat-buttons)!Important}
.lookInverted-2D7oAl.colorBrand-3pXr91{color:var(--chat-buttons)!important}
.layer-v9HyYc.disabledPointerEvents-1ptgTB{display:var(--server-names-and-etc) !important}
.selectorButtonSelected-t5V9On{background-color:var(--chat-buttons)!important}
.selectorButton-EEUWed{background-color:var(--chat-buttons)!important}
.closeButton-1tv5uR{border-color:var(--settings-x-button)!important}
.keybind-KpFkfr{color:var(--settings-x-button)!important}
.checkmark-3rush5{background-color:var(--chat-buttons)!important}
.container-3RCQyg{border-bottom:0px!important}
.closeButton-1tv5uR:hover{background-color:var(--shadow-color-brighter)!important}

/*removes protips, notes*/
.userInfoSectionHeader-CBvMDh,.note-QfFU8y,.description-1EvxpH,.protip-1b9XPC.inline-136HKr,.colorHeaderSecondary-3Sp3Ft.size12-3cLvbJ{display:none!Important}

/*green buttons, I think...*/
.item-3HknzM.item-PXvHYJ{background-color:var(--background-floating)!important}
.lookFilled-1Gx00P.colorGreen-29iAKY{background-color:var(--chat-buttons)!important}

/*message replying*/
.replying-1x3H0T{background-color:var(--transparent-accent)!important}
.mention.wrapper-3WhCwL.mention.interactive{background:var(--transparent-accent)!important;color:var(--chat-buttons)!important}
.mentioned-xhSam7{background-color:var(--transparent-accent)!important}

/*bot tag*/
.botTagRegular-2HEhHi{background: var(--chat-buttons)!Important}

/*GIF and Emoji menu colors*/
.QNNs.noWrap-3jynv6{background:var(--background-floating)!important}
.searchBar--fTZYa,.searchBar-5di9mG{background:var(--flex-white)!important}
.content-ySCtCx{background:var(--background-floating)!important}

/*I forgot*/
.colorDefault-2K3EoJ.focused-3afm-j{background-color:var(--shadow-color-dark)!important}

/*I forgot*/
.pro-1T8RK7.base-1x0h_U.size12-3cLvbJ{color:var(--chat-buttons)!important}

.jumpToPresentBar-G1R9s6,
.newMessagesBar-265mhP{background-color: var(--shadow-color-dark)!important}

/*update button color*/
.updateIconForeground-3tnNZn {fill: var(--chat-buttons)!important}

/*I forgot what is this*/
.childWrapper-anI2G9{color: var(--settings-buttons-text)!important}

/*game Icon on sidebar*/
.gameIconWrapper-1YByCI {position:fixed;bottom:150px;left:20px;background:var(--background-tertiary)}

/*it removes Video/Screen buttons, game info, game "actions" button, set to "flex" to enable*/
.actions-aUdUfC,
.info-WdNIDE,
.actionButtons-14eAc_{display:none!important}

/*it gives "Voice Connected" color*/
.rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3 {color: var(--chat-buttons) !important}
.rtcConnectionStatusConnected-VRZDjy {color: var(--chat-buttons) !important}

/*voice active border color*/
.border-Jn5IOt.speaking-B2MXPi {box-shadow: inset 0 0 0 1px var(--chat-buttons),inset 0 0 0 4px var(--background-floating) !important}

/*buttons color*/
.colorable-1bkp8v.red-33-Lnk {background: var(--chat-buttons) !important}

/*I forgot what is this*/
.text-2sI5Sd {color: var(--header-primary) !important}

/*add a server&explore public servers color*/
.circleIconButton-jET_ig { color: var(--user-buttons-color) !important; background-color: var(--background-tertiary) !important}

/*DM button color*/
.wrapper-1BJsBx.selected-bZ3Lue > .childWrapper-anI2G9 { background-color: var(--background-tertiary) !important; color: var(--settings-buttons-text) !important}

/*call background*/
.video-1FfuMD.minimum-1pRSEN {background-color: var(--background-floating) !important}

/* --- 😀 PARTIE MP --- */

/* Collone amis */
.peopleColumn-29fq28 { background: var(--background-primary) !important;}

/* Appel amis */
.primaryDark-3mSFDl {background: var(--background-secondary-alt) !important;}

/* Selecteur région appel amis */
.regionSelectPopout-p9-0_W { background: var(--background-secondary-alt) !important;}
.quickSelect-3BxO0K { margin-top: 10px;}

/* Activité amis */
.itemCard-v9viV7.active-1xchHY, .itemCard-v9viV7:hover, .popout-38lTFE { background: var(--background-tertiary) !important;}
.wrapper-3Rixsz:hover, .memberListItem-31QoHj:hover, .body-1ld4H7 { background: var(--background-secondary-alt) !important;}

/* --- 📜 PARTIE LISTE SERVEURS --- */

/* Boutons utilisateur */
.panels-j1Uci_ > .container-3baos1:not(.vp-audioviz-visualizer) {
    position: fixed;
    z-index: 5;
    bottom: 0px; left: 0px;
    margin-bottom: 0;
    padding-left: 0;
    align-items: flex-end;
}

.scroller-2TZvBN { margin-bottom: 140px;}

.container-3baos1 > .flex-1xMQg5:not(.spotify-buttons) { 
    display: flex; 
    flex-direction: column;  
    padding: 10px 15px 10px 15px; 
    background: var(--background-tertiary) !important;
}

.flex-1xMQg5:not(.spotify-buttons) > .button-14-BFJ { color: var(--user-buttons-color); margin: 0px 5px var(--user-buttons-spacing);}
.flex-1xMQg5:not(.spotify-buttons) > .button-14-BFJ:last-child { margin-bottom: 5px; }

/* Supprime le nom de l'utilsateur */
.canCopy-2VBT7N { display: none; } 

/* Notification de mention */
.unreadMentionsIndicatorBottom-BXS58x { margin-bottom: 135px;}

.vp-audioviz-bar { background: #042d50fb; }

/* --- ✏️ PARTIE SALONS --- */

/* Flèche catégeories */
.mainContent-2h-GEV > .arrow-gKvcEx { display: none; }

/* --- 💬 PARTIE TCHAT --- */

/* Barre du salon */
.container-1r6BKw { background: var(--background-secondary) !important; }
.children-19S4PO:after { display: none;}

/* Nouveaux messages */
.newMessagesBar-265mhP { background-color: var(--header-secondary); border-radius: 50px; margin-top: 5px; }

/* Barre de tchat */
.channelTextArea-rNsIhG { width: auto; margin: 11px 0px 25px 50px;}

/* Barre de news */
.wrapper-39oAo3 { width: auto; margin: 11px 0 25px 50px;}

/* Bouton 'Suivre' */
.children-19S4PO > .followButton-L6L-Us { background: var(--background-secondary-alt) !important; }

/* Revenir aux messages récents */
.jumpToPresentBar-G1R9s6, .jumpToPresentBar-G1R9s6:active { margin-bottom: 2px; margin-left: 55px; border-radius: 50px; padding: 0;}

/* Menu # ou @ */
.autocomplete-1vrmpx { background: var(--background-secondary-alt) !important;}
.theme-dark .autocomplete-1vrmpx { background-color: var(--background-secondary-alt) !important;}
.selected-1Tbx07{background:var(--shadow-color-bright)!important}


/* Message d'upload */
.uploadModal-2ifh8j { background: var(--background-primary) !important;}
.footer-3mqk7D { background: var(--background-tertiary) !important;}

/* En train d'écrire */
.typing-2GQL18 { margin-left: 50px; }

/* Avatar */
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp { 
    position: fixed;
    z-index: 5;
    bottom: 31px;
    left: 325px;
}

.avatarWrapper-2yR4wp > .avatar-SmRMf2.wrapper-3t9DeA{padding:4px}
.container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv, .pageWrapper-1PgVDX, .wrapper-2qzCYF { z-index: 6;} /* Cacher l'avatar */

/* Status */
.animatorTop-2Y7x2r > .styleFixed-sX-yHV { width: 45px; background: var(--background-tertiary) !important;}
.footer-2gL1pp { background: var(--background-tertiary) !important;}
.customEmojiPlaceholder-37iZ_j { background-image: url(https://i.ibb.co/hVKW6Xs/e.png);}
.description-2L932D, .status-1fhblQ { display: none;}
.separator-2I32lJ { display: var(--separators);}
[aria-label="Hide Game Activity"] > svg, [aria-label="Show Game Activity"] > svg { margin-left: -2px;}

.animatorTop-2Y7x2r > .menu-3sdvDG::after { 
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background-tertiary) transparent transparent transparent;
}

/* Selecteur d'emotes */

/*I wanted to use duotone filter here, but for unknown reason it doesn't work, if someone will work on it please make it work just because*/
.sprite-2iCowe {filter: hue-rotate(var(--emoji-hue)) saturate(var(--emoji-saturation)) !important}
.emojiItemSelected-1aLkfV { background: var(--background-tertiary)!important}

/* i'm blue dabedi dabeda */
.attachButtonPlus-jWVFah { fill: var(--chat-buttons)!important}
.buttonWrapper-1ZmCpA, .icon-3D60ES { color: var(--chat-buttons)!important}
.colorGrey-2DXtkV{background:var(--chat-buttons)!important}

/* Barre de recherche */
.container-3ayLPN, .searchAnswer-3Dz2-q, .searchFilter-2ESiM3, .react-datepicker, .react-datepicker__header { background: var(--background-primary) !important;}
.react-datepicker__day { background: var(--background-secondary) !important;}
.react-datepicker__day:hover, .focused-2bY0OD { background: var(--background-secondary-alt) !important;}
.dim-1l4L4y span { background: var(--background-accent) !important;}
.searchLearnMore-3SQUAj, .option-96V44q:after { display: none; }

/*батя вовчика был здесь*/

/* --- 👥 PARTIE MEMBRES --- */

/* Popup d'un membre */
.headerNormal-T_seeN, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerSpotify-zpWxgT, .headerXbox-3G-4PF { background: var(--SmallPopoutColorBG) !important;}
.activityUserPopout-2yItg2 { border-radius: 5px; margin: 0 8px 15px 8px; padding: 10px;}
.headerPlaying-j0WQBV > .activityUserPopout-2yItg2 { background: var(--playactbg) !important; box-shadow: var(--playactshadow);}
.headerSpotify-zpWxgT > .activityUserPopout-2yItg2 { background: var(--spotifyactbg) !important; box-shadow: var(--spotifyactshadow);}
.headerStreaming-2FjmGz > .activityUserPopout-2yItg2 { background: var(--streamactbg) !important; box-shadow: var(--streamactshadow);}
.headerXbox-3G-4PF  > .activityUserPopout-2yItg2 { background: var(--xboxactbg) !important; box-shadow: var(--xboxactshadow);}

.body-3iLsc4, .footer-1fjuF6 { background: var(--background-secondary) !important; }

/* Roles */
.role-2irmRk {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid;
    border-width: 0px 0px 0px 2px;
    border-radius: 4px 3px 3px 4px;
}

.roleCircle-3xAZ1j { width: var(--role-circle); height: var(--role-circle);}

.roleCircle-3xAZ1j::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
    opacity: 0.1;
    z-index: -1;
}

/* - Popup agrandie d'un membre - */

/* Meilleur avatar dans les popouts */
.header-QKLPzZ > .wrapper-3t9DeA > .mask-1l8v16 > .pointerEvents-2zdfdO { display: var(--popout-status-icon); }
.header-QKLPzZ > .wrapper-3t9DeA > .mask-1l8v16 foreignObject { mask: var(--popout-status-mask); border-radius: var(--avatar-radius); }
.header-QKLPzZ > .wrapper-3t9DeA > .avatarHint-1qgaV3 foreignObject { mask: var(--popout-status-mask); border-radius: var(--avatar-radius); }

/* Badges */
.headerInfo-30uryT > .profileBadges-2vWUYb { display: flex; flex-wrap: wrap; }
.headerInfo-30uryT > .profileBadges-2vWUYb > .profileBadgeWrapper-1rGSsp { padding-bottom: 7px; }

/* Status */
.root-SR8cQa > .topSectionSpotify-1lI0-P, .root-SR8cQa > .topSectionPlaying-1J5E4n, .root-SR8cQa > .topSectionStreaming-1Tpf5X, .root-SR8cQa > .topSectionXbox-3fWLjS { background: var(--background-tertiary) !important;}
.activityProfile-2bJRaP { border-radius: 5px; margin: 0 13px 13px 13px;}
.topSectionPlaying-1J5E4n > .headerFill-adLl4x > .activityProfile-2bJRaP { background: var(--playactbg) !important; box-shadow: var(--playactshadow);}
.topSectionSpotify-1lI0-P > .headerFill-adLl4x > .activityProfile-2bJRaP { background: var(--spotifyactbg) !important;  box-shadow: var(--spotifyactshadow);}
.topSectionStreaming-1Tpf5X > .headerFill-adLl4x > .activityProfile-2bJRaP { background: var(--streamactbg) !important; box-shadow: var(--streamactshadow);}
.topSectionXbox-3fWLjS > .headerFill-adLl4x > .activityProfile-2bJRaP { background: var(--xboxactbg) !important; box-shadow: var(--streamactshadow);}
.actionButton-3W1xZa{ background: var(--transparent-accent) !important;}

/* Réseaux sociaux */
.connectedAccount-36nQx7 {
    border: none;
    border-color:var(--chat-buttons);
    border-width: 0px 0px 0px 4px;
    border-radius: 3px;
    padding: 0px 0px 0px 0px;
}

.connectedAccountIcon-3P3V6F { padding: 7px; border-radius: 4px 0 0 4px;}
.connectedAccountIcon-3P3V6F[src="/assets/4662875160dc4c56954003ebda995414.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/0d44ba28e39303de3832db580a252456.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] { background: !important; }
.connectedAccountIcon-3P3V6F[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] { background: !important; }

.connectedAccountName-f8AEe2 { margin-left: 13px;}

/* --- 👤 PARAMETRE UTILISATEUR --- */

/* Facturation */
.paymentRow-2e7VM6, .pageActions-1SVAnA, .codeRedemptionRedirect-1wVR4b { background: var(--background-secondary-alt) !important; }
.expandedInfo-3kfShd { background: var(--background-secondary) !important; }

/* Abonnements */
.detailsBlock-FoDTGA > div > div > .colorPrimary-3b3xI6 { background: var(--abonnements-color) !important; }

/* Voix & Vidéo */
.previewOverlayInner-1WXURq { background: var(--background-secondary-alt) !important; }

/* Activité de jeux */
.notDetected-33MY4s, .addGamePopout-2RY8Ju { background: var(--background-secondary-alt) !important; }

/* --- ⚙️ PARAMETRE SERVEUR --- */

/* Notification de modifications */
.container-2VW0UT { background: var(--background-tertiary) !important; }

/* Selecteur de pays */
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 { background: var(--background-secondary-alt) !important; border: none;}

/* Roles */
.colorPickerCustom-2CWBn2 { background: var(--background-secondary) !important; }

/* Emoji */
.emojiInput-1aLNse { background: var(--background-secondary-alt) !important;}

/* Logs du serveur */
.headerExpanded-CUEwZ5, .headerDefault-1wrJcN, .headerClickable-2IVFo9 { background: var(--background-secondary-alt) !important;} /* Coloration des logs */
.changeDetails-bk98pu { background: var(--background-secondary-alt) !important; }
.auditLog-3jNbM6 { border-color: var(--background-tertiary) !important;}
.divider-1pnAR2 { display: none;}

.popoutList-T9CKZQ { background: var(--background-secondary-alt) !important; }
.selectableItem-1MP3MQ:hover { background: var(--background-secondary) !important; }

/* Intégrations */
.card-o7rAq-, .header-146Xl5 { background: var(--background-secondary-alt) !important; }
.body-1zRX82, .cardPrimaryEditable-3KtE4g { background: var(--background-secondary) !important; }

/* Widget */
.colorGrey-2DXtkV { color: var(--settings-buttons-text) !important; }

/* Vue d'ensemble */
.css-3vaxre-menu { background: var(--background-secondary-alt) !important; border: 1px solid var(--background-tertiary) !important; }

/* Ecran d'acceuil */
.addChannelButton-3j20Ox { background: var(--background-secondary) !important; }

/* Boost dans parametres */
.tierBody-x9kBBp { background: var(--background-secondary) !important; }
.tierHeaderContent-2-YfvN, .tierInProgress-3mBoXq { background: var(--background-secondary-alt) !important; }
.background-3xPPFc { color: var(--background-secondary-alt) !important; }

/* Boost */
.perksModal-fSYqOq { background: var(--background-primary) !important; }
.tierMarkerBackground-3q29am, .tierHeaderLocked-1s2JJz, .barBackground-2EEiLw, .icon-TYbVk4 { background: var(--background-secondary-alt) !important; }
.option-96V44q.selected-rZcOL-, .tierBody-16Chc9, .perk-2WeBWW, .tierMarkerInProgress-24LMzJ { background: var(--background-secondary) !important; }

/* Membres */
.overflowRolesPopout-140n9i{ background: var(--background-secondary) !important; }

/* Bannissements */
.card-FDVird::before { background: var(--background-secondary) !important; border-color: #101320 !important; }

/* --- 🌺 AUTRE --- */

/* Message rejoindre serveur */
.contentWrapper-3WC1ID { background: var(--background-secondary) !important;}

/* Message de bienvenue */
.root-1gCeng:not(.modal-qgFCbT) { background: var(--background-secondary) !important;}

/* Exporateur de serveurs */
.css-ix84ef-menu { background: var(--background-secondary-alt) !important; }
.pageWrapper-1PgVDX, .css-1adxh11-control, .css-12hk9yc-control, .css-1emou8a-control { background: var(--background-secondary) !important; }
.theme-light .root-1gCeng, .theme-light .footer-2gL1pp { box-shadow: none; }

/* Paramètres de notifications */
.inner-1ilYF7 > .modal-yWgWj- > .header-1TKi98 { background: var(--background-secondary) !important; }
.inner-1ilYF7 > .modal-yWgWj- > .scrollerBase-289Jih { background: var(--background-secondary) !important; }

/* Suppresion du logo Discord */
.wordmark-2iDDfm > svg { display: var(--discord-logo); } 

/* Popout "Regarder le stream" */
.body-Ogsp8i { background: var(--background-tertiary) !important;}

/* Popout supprimer un message */
.message-2qRu38 { background: var(--background-primary) !important; }

/* Infobulles */
.tooltip-2QfLtc { display: var(--tooltips); background: var(--background-tertiary) !important;}
.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK { border-top-color: var(--background-tertiary);}

/* Combo clavier */
.keyboardShortcutsModal-3piNz7 { background: var(--background-primary) !important; }

/* Jeux de Discord */
.scroller-1JpcIc { background: var(--background-primary) !important; }
.whyYouMightLikeIt-2zZIIj, .content-35aVm0, .bodySection-jqkkIP, .row-1bU71H { background: var(--background-secondary) !important; }

/* Activité de jeux et salon vocal */
.activityPanel-28dQGo, .container-1giJp5 { border-bottom: none; }

/* Barre "Echec de chargement des messages" */
.messagesErrorBar-nyJGU7 { border-radius: 100px; padding-bottom: 0; margin-bottom: 5px;}

/* -- USRBG Small Popout -- */
.reduce-motion .userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
    border-radius: 5px 5px 0 0;
    pointer-events: none;
    opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	background: var(--user-background);
}

.protip-YaFfgO { display: none;}
.footer-1fjuF6 > .inputWrapper-31_8H8 > .inputDefault-_djjkz { border:  none; background: var(--user-background);}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6,
.body-3iLsc4 {
	z-index: 1;
}

/* -- USRBG Big Popout -- */
:root {
    --usrbg-modal-x-offset:-34px; /*Distance from the avatar container to the edge of the modal (x)*/
    --usrbg-modal-y-offset:-20px; /*Distance from the avatar container to the edge of the modal (y)*/
    --usrbg-modal-width:600px; /*Maximum width of modal*/
    --usrbg-modal-height:600px; /*Maximum height of modal*/
  }
  .header-QKLPzZ .wrapper-3t9DeA::after {
    content:'';
    position:absolute;
    top:var(--usrbg-modal-x-offset);
    left:var(--usrbg-modal-y-offset);
    width:var(--usrbg-modal-width);
    height: var(--usrbg-modal-height);
    opacity:1;
    pointer-events:none
    /*background: var(--user-background) center/cover no-repeat;*/
    /*-webkit-mask: linear-gradient(black, transparent 90%);*/
    /*mask: linear-gradient(#000, transparent);*/
  }
    .headerFill-adLl4x{background-color: rgba(0,0,0,0)!important}

  /*linear-gradient(black, transparent 90%)*/
  /*linear-gradient(#000, transparent)*/

  .headerInfo-30uryT,
  .tabBarItem-1b8RUP,
  .activity-1ythUs {
    z-index:1;
    position:relative;
  }

.topSectionNormal-2-vo2m *, .topSectionSpotify-1lI0-P *, .topSectionPlaying-1J5E4n *, .topSectionStreaming-1Tpf5X *, .body-3ND3kc{
    z-index: 1;
}

.tabBarContainer-1s1u-z { border-top: none; }

/*unread messages and focused channel*/
.theme-dark .unread-2lAfLh,
.theme-dark .item-2hkk8m{background-color:var(--flex-white) !Important;}

.theme-light .unread-2lAfLh{background-color:var(--flex-black) !Important;}
.theme-light .item-2hkk8m{background-color:var(--flex-black) !Important;}

/*color of some buttons and elements*/
.iconBadge-qZ4Ksk,
.numberBadge-2s8kKX,
.iconBadge-2wi9r4.iconBadge-2NuvG9.base-PmTxvP,
.icon-3BcwQu.iconServer-3Z_nSE,
.strikethrough-1n4ekb,
.attachButtonPlay-3iJ0mf,
.strikethrough-3Wiitd {background-color: var(--chat-buttons) !important;}